{% extends "base.html" %}

{% block content %}
    <h1 style="font-size:30px">Signup</h1>
    <form method='POST'>
    <label style="font-size:15px;">Username<input style="font-size:10px;" name="username" type="text" value='{{username}}' />
        <span class="error">{{name_error}}</span></label><br>
    <label style="font-size:15px;">Password<input style="font-size:10px;" name="userpswd" type="password" value='{{userpswd}}'/>
        <span class="error">{{pswd_error}}</span></label><br>
    <label style="font-size:15px;">Verify Password<input style="font-size:10px;" name="verifypswd" type="password" value='{{verifypswd}}' />
        <span class="error">{{v_pswd_error}}</span></label><br>
    <label style="font-size:15px;">Email(optional)<input style="font-size:10px;" name="useremail" type="text" value='{{useremail}}' />
        <span class="error">{{email_error}}</span></label><br><br>
    <input type="submit" value="Submit Query" />
    </form>
{% endblock %}