{% extends "base.html" %}

{% block content %}

    <h1>Signup</h1>
    <form method='POST'>
    <label>Username
        <input name="username" type="text"/>
    </label><br>
    <label>Password
        <input name="userpswd" type="password"/>
    </label><br>
    <label>Verify Password
        <input name="verifypswd" type="password"/>
    </label><br>
    <label>Email(optional)
        <input name="useremail" type="text"/>
    </label><br>
    <input type="submit" value="Submit" />
    </form>



{% endblock %}